## String in Python

-- Strings are Arrays Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

-- In Python, a string is immutable. You cannot overwrite the values of immutable objects. However, you can assign the variable again. It's not modifying the string object; it's creating a new string object.

String are use to store character sequences.

- "Python" is a string of length 6.

- Stings always starts and ends with quotation mark. It can be '' or" ". Always start and end with same type of quotation mark.

- A string can be indexed forward or backwards. eg. "Python word can be indexed from 0 to 5 in forward or -6 to -1  in backward.

- Indexing starts from 0

- len() function is used to find length of a sequence.

In [68]:
len("Python")

6

In [69]:
len('a b c ') # len() also calculate space

6

#### # Access String

In [71]:
string1="Data Analyst"

print(len(string1)) # print length of string
print(string1)  # print complete string
print(string1[0]) # string first character
print(string1[4:7]) # print characters starting from 5 to 7 position 
print(string1[5:]) # print string starting from 6th character
print(string1[:2]) # print first 2 character
print(string1[1:-2]) # prints from second character to the character before the last
print(string1*3) # print string 3 times
print(string1 + "is cool") # Two strings can be concatenated using + operator

12
Data Analyst
D
 An
Analyst
Da
ata Analy
Data AnalystData AnalystData Analyst
Data Analystis cool

#### # String Functions

In [222]:
str1="welcome to python programming"

#### Capitalize

In [217]:
# Converts first letter into uppercase
str1.capitalize()

'Welcome to python programming'

#### Casefold

In [218]:
# Return a version of the string suitable for caseless comparisons.
str1.casefold()

'welcome to python programming'

#### Center

In [219]:
# Return a centered string of length width.
str1.center(50,"x")

'xxxxxxxxxxwelcome to python programmingxxxxxxxxxxx'

#### Count

In [2]:
# Return the number of non-overlapping occurrences of substring sub in string
str2="welcome to python programming python"
str2.count("python")

2

In [229]:
# Return count of string between start and end index position
str2.count("python",18,50)

1

In [233]:
str2.count(" ",9,50)

3

#### Encode

In [238]:
# Encode the string using the codec registered for encoding.
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [239]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

#### Endswith

In [241]:
# Return True if S ends with the specified suffix, False otherwise.
txt = "Hello, welcome to my world."

x = txt.endswith(".")  # Check if the string ends with a punctuation sign (.)

print(x)

True

In [247]:
str1.endswith("a")

False

In [248]:
str1.endswith("g")

True

#### Expandtabs

In [250]:
# Return a copy where all tab characters are expanded using spaces.

txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [257]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(0))
print(txt.expandtabs(1))
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
Hello
H e l l o
H e l l o
H   e   l   l   o
H         e         l         l         o

#### Find

In [260]:
#Return the lowest index in string where substring sub is found
str1.find("p")

11

In [262]:
str1.find("p",12)

18

#### Format

In [264]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [267]:
txt1 = "My name is {fname}, I'am {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'am {1}".format("John",36)
txt3 = "My name is {}, I'am {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'am 36
My name is John, I'am 36
My name is John, I'am 36

In [4]:
point = {'x':4,'y':-5}
print('{x} {y}'.format(**point))

4 -5

#### Format_map

In [271]:
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

point = {'x':4,'y':-5, 'z': 0}
print('{x} {y} {z}'.format_map(point))

4 -5
4 -5 0

In [272]:
class Coordinate(dict):
    def __missing__(self, key):
      return key


print('({x}, {y})'.format_map(Coordinate(x='6')))
print('({x}, {y})'.format_map(Coordinate(y='5')))
print('({x}, {y})'.format_map(Coordinate(x='6', y='5')))

(6, y)
(x, 5)
(6, 5)

#The format_map() method is similar to str.format(**mapping) except that str.format(**mapping) creates a new dictionary whereas str.format_map(mapping) doesn't.

#The only difference is that str.format(**mapping) copies the dict whereas str.format_map(mapping) makes a new dictionary during method call. This can be useful if you are working with a dict subclass.

#### Index

In [274]:
# Return the lowest index in S where substring sub is found
# It is similar to find function
str1.index("c")

3

#### isalnum

In [4]:
# The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).
# Example of characters that are not alphanumeric: (space)!#%&? etc.
str2="1Hello"
str2.isalnum()

True

In [5]:
txt = "Company 12"

x = txt.isalnum() # Check if all the characters in the text is alphanumeric

print(x)

False

#### isalpha

In [6]:
#The isalpha() method returns True if all the characters are alphabet letters (a-z).
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [7]:
txt = "Company1"

x = txt.isalpha()

print(x)

False

#### isascii

In [8]:
# This method doesn't take any parameters and the string refers to the input string which is checked for the presence of ASCII characters.

# It returns True if the string is empty or if all the characters in the string are ASCII characters. Otherwise, it returns False. 

my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

True
True
True
True
False
False

#### isdecimal

In [302]:
# The isdecimal() method returns True if all the characters are decimals (0-9).
x="12"
x.isdecimal()

True

In [303]:
x="12s"
x.isdecimal()

False

In [294]:
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [295]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

#### isdigit

In [308]:
# The isdigit() method returns True if all the characters are digits, otherwise False.

Exponents, like ², are also considered to be a digit.
txt = "50800"

x = txt.isdigit()

print(x)

True

In [307]:
txt = "50800abc"

x = txt.isdigit()

print(x)

False

#### isidentifier

In [309]:
# The isidentifier() method returns True if the string is a valid identifier, otherwise False.

# A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_).

# A valid identifier cannot start with a number, or contain any spaces.


txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [310]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

#### islower

In [311]:
# The islower() method returns True if all the characters are in lower case, otherwise False.

# Numbers, symbols and spaces are not checked, only alphabet characters.

txt = "hello world!"

x = txt.islower()

print(x)

True

In [312]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

#### isnumeric

In [313]:
# The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

# Exponents, like ² and ¾ are also considered to be numeric values.

txt = "565543"

x = txt.isnumeric()

print(x)

True

In [316]:

txt = "Abc565543"

x = txt.isnumeric()

print(x)

False

#### isprintable

In [317]:
# The isprintable() method returns True if all the characters are printable, otherwise False.

#Example of none printable character can be carriage return and line feed.


txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [318]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

#### isspace

In [320]:
# The isspace() method returns True if all the characters in a string are whitespaces, otherwise False.

txt = "   "

x = txt.isspace()

print(x)

True

In [322]:
txt = "   s   "

x = txt.isspace()

print(x)

False

#### istitle

In [323]:
# The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

#Symbols and numbers are ignored.



txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [324]:
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

#### isupper

In [325]:
# The isupper() method returns True if all the characters are in upper case, otherwise False.

#Numbers, symbols and spaces are not checked, only alphabet characters.


txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [326]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

#### Join

In [330]:
# The join() method takes all items in an iterable and joins them into one string.

# A string must be specified as the separator.

myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [328]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

## Note: When using a dictionary as an iterable, the returned values are the keys, not the values.

nameTESTcountry

#### ljust

In [331]:
# The ljust() method will left align the string, using a specified character (space is default) as the fill character.

txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

# Note: In the result, there are actually 14 whitespaces to the right of the word banana.

banana               is my favorite fruit.

In [332]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

#### Lower

In [333]:
# The lower() method returns a string where all characters are lower case.

# Symbols and Numbers are ignored.

txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

#### lstrip

In [334]:
# The lstrip() method removes any leading characters (space is the default leading character to remove)

txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [338]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.aswb")

print(x)

banana
nana

#### Maketrans

In [339]:
# The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.

txt = "Hello Sam!";
mytable = txt.maketrans("S", "P");
print(txt.translate(mytable));

# Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

Hello Pam!

In [340]:
# Use a mapping table to replace many characters:
txt = "Hi Sam!";
x = "mSa";
y = "eJo";
mytable = txt.maketrans(x, y);
print(txt.translate(mytable));

Hi Joe!

#Parameter Description

x - Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.

y - Optional. A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string.

z -Optional. A string describing which characters to remove from the original string.

In [341]:
# The third parameter in the mapping table describes characters that you want to remove from the string:
txt = "Good night Sam!";
x = "mSa";
y = "eJo";
z = "odnght";
mytable = txt.maketrans(x, y, z);
print(txt.translate(mytable));

G i Joe!

In [351]:
# The maketrans() method itself returns a dictionary describing each replacement, in unicode:
txt = "Good night Sam!";
x = "mSa";
y = "eJo";
z = "odnght";
print(txt.maketrans(x, y, z));
print(txt.translate(txt.maketrans(x, y, z)))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
G i Joe!

#### Partition

Returns a tuple where the string is parted into three parts

The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

Note: This method search for the first occurrence of the specified string.

In [348]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

#Search for the word "bananas", and return a tuple with three elements:

#1 - everything before the "match"
#2 - the "match"
#3 - everything after the "match"

txt = "I could eat bananas all day as bananas is good for health"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')
('I could eat ', 'bananas', ' all day as bananas is good for health')

In [344]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

# If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

('I could eat bananas all day', '', '')

#### Replace

In [359]:
#The replace() method replaces a specified phrase with another specified phrase.

#Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.

txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [360]:
#Replace all occurrence of the word "one":
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [361]:
# Replace the two first occurrence of the word "one":
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

#### Rfind

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex() method.

In [362]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [363]:
#Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [364]:
# Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

In [370]:
# If the value is not found, the rfind() method returns -1, but the rindex() method will raise an exception:

txt = "Hello, welcome to my world."

print(txt.rfind("q"))

-1

#### Rindex

The rindex() method finds the last occurrence of the specified value.

The rindex() method raises an exception if the value is not found.

The rindex() method is almost the same as the rfind() method. See example below.

In [371]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [373]:
# Where in the text is the last occurrence of the letter "e"?:

txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

13
8

#### Rjust

In [375]:
#The rjust() method will right align the string, using a specified character (space is default) as the fill character.

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

# Return a 20 characters long, right justified version of the word "banana":

# Note: In the result, there are actually 14 whitespaces to the left of the word banana.

              banana is my favorite fruit.

In [377]:
# Using the letter "O" as the padding character:

txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

#### Rpartition

The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

In [378]:
#Search for the last occurrence of the word "bananas", and return a tuple with three elements:

#1 - everything before the "match"
#2 - the "match"
#3 - everything after the "match"

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [379]:
# If the specified value is not found, the rpartition() method returns a tuple containing: 1 - an empty string, 2 - an empty string, 3 - the whole string:

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

#### Rsplit

The rsplit() method splits a string into a list, starting from the right.

If no "max" is specified, this method will return the same as the split() method.

Note: When maxsplit is specified, the list will contain the specified number of elements plus one.

In [380]:
# Split a string into a list, using comma, followed by a space (, ) as the separator:

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [381]:
#Split the string into a list with maximum 2 items:

txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

#### Rstrip

In [385]:
# The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

#Remove any white spaces at the end of the string:

txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [387]:
# Remove the trailing characters if they are commas, s, q, or w:

txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

#### Split

In [388]:
#The split() method splits a string into a list.

#You can specify the separator, default separator is any whitespace.

# Note: When maxsplit is specified, the list will contain the specified number of elements plus one.

#Split a string into a list where each word is a list item:

txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [390]:
#Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [391]:
#Use a hash character as a separator:

txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [395]:
# Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

# setting the maxsplit parameter to 2, will return a list with 3 elements!
x = txt.split("#", 2)

print(x)

['apple', 'banana#cherry#orange']
['apple', 'banana', 'cherry#orange']

#### Splitlines

In [397]:
# The splitlines() method splits a string into a list. The splitting is done at line breaks.

# Split a string into a list where each line is a list item:

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [399]:
# Split the string, but keep the line breaks:

txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

#### Startswith

In [402]:
# The startswith() method returns True if the string starts with the specified value, otherwise False.

# Check if the string starts with "Hello":

txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [403]:
# Check if position 7 to 20 starts with the characters "wel":

txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

#### Swapcase

In [407]:
# The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

# Make the lower case letters upper case and the upper case letters lower case:

txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

#### Strip

In [405]:
#The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

#Remove spaces at the beginning and at the end of the string:

txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [406]:
# Remove the leading and trailing characters:

txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

#### Title

In [408]:
# The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

# If the word contains a number or a symbol, the first letter after that will be converted to upper case.

# Make the first letter in each word upper case:

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [410]:
#Make the first letter in each word upper case:

txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [409]:
#Note that the first letter after a non-alphabet letter is converted into a upper case letter:

txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

#### Translate

The translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table.

Use the maketrans() method to create a mapping table.

If a character is not specified in the dictionary/table, the character will not be replaced.

If you use a dictionary, you must use ascii codes instead of characters.

In [411]:
#Replace any "S" characters with a "P" character:

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80};
txt = "Hello Sam!";
print(txt.translate(mydict));

Hello Pam!

In [412]:
# Use a mapping table to replace "S" with "P":

txt = "Hello Sam!";
mytable = txt.maketrans("S", "P");
print(txt.translate(mytable));

Hello Pam!

In [413]:
#The same example as above, but using a dictionary instead of a mapping table:

txt = "Good night Sam!";
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None};
print(txt.translate(mydict));

G i Joe!

#### Upper

In [414]:
#The upper() method returns a string where all characters are in upper case.

#Symbols and Numbers are ignored.

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

#### zfill

In [415]:
#The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

#If the value of the len parameter is less than the length of the string, no filling is done.

#Fill the string with zeros until it is 10 characters long:

txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [417]:
# Fill the strings with zeros until they are 10 characters long:

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000