# PYTHON Problems

### 1.Write a function that inverts the keys and values of a dictionary.

Example:invert({ "z": "q", "w": "f" })
➞ { "q": "z", "f": "w" }

invert({ "a": 1, "b": 2, "c": 3 })
➞ { 1: "a", 2: "b", 3: "c" }

invert({ "zebra": "koala", "horse": "camel" })
➞ { "koala": "zebra", "camel": "horse" }

In [1]:
dict1 = { "a": 1, "b": 2, "c": 3 }

In [4]:
dict2={}
for i,j in dict1.items():
    dict2[j]=i

In [5]:
dict2

{1: 'a', 2: 'b', 3: 'c'}

In [6]:
def invert(dict1):
    dict2={}
    for i,j in dict1.items():
        dict2[j]=i
    return dict2

In [7]:
invert({ "zebra": "koala", "horse": "camel" })

{'koala': 'zebra', 'camel': 'horse'}

### 2.Return the total number of lists inside a given list.

Example:num_of_sublists([[1, 2, 3]]) ➞ 1

num_of_sublists([[1, 2, 3], [1, 2, 3], [1, 2, 3]]) ➞ 3

num_of_sublists([[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]) ➞ 4

num_of_sublists([1, 2, 3]) ➞ 0

In [96]:
# Method - 1
def countList(lst): 
    return sum(isinstance(i, list) for i in lst)

In [98]:
countList([[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]])

4

In [148]:
#Method -2
def countList(lst): 
    count = 0
    for el in lst: 
        if type(el)== type([]): 
            count+= 1
              
    return count

In [258]:
countList([1, 2, 3])

0

### 3.Given the month and year as numbers, return whether that month contains a Friday 13th.

Examples
has_friday_13(3, 2020) ➞ True

has_friday_13(10, 2017) ➞ True

has_friday_13(1, 1985) ➞ False
Notes
January will be given as 1, February as 2, etc ...
Check Resources for some helpful tutorials on Python's datetime module.

In [1]:
from datetime import date
def has_friday_13(month, year):
    return date(year,month,13).strftime("%A")=='Friday'

In [2]:
has_friday_13(3,2020)

True

### 4.A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below,
the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]
Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples
tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 3

tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 4

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 2

In [261]:
l1=[ [0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ]

In [262]:
x=[0]
c=len(l1)
for i in l1:
    for j in i:
        if j==1:
            x.append(c)
    c=c-1

print("Height of tallest building is",max(x))

Height of tallest building is 4

### 5.Create a function that takes a variable number of groups of items, and returns the number of ways the items can be arranged, with one item from each group. Order does not matter.

Examples
combinations(2, 3) ➞ 6

combinations(3, 7, 4) ➞ 84

combinations(2, 3, 4, 5) ➞ 120

In [92]:
def combinations(l1):
    p=1
    for i in l1:
        p=p*i
    return p

In [95]:
list1=[3, 7, 4]
combinations(list1)

84

### 6.Majority Vote
Create a function that returns the majority vote in a list. A majority vote is an element that occurs > N/2 times in a list (where N is the length of the list).

Examples
majority_vote(["A", "A", "B"]) ➞ "A"

majority_vote(["A", "A", "A", "B", "C", "A"]) ➞ "A"

majority_vote(["A", "B", "B", "A", "C", "C"]) ➞ None

Notes
The frequency of the majority element must be strictly greater than 1/2.
If there is no majority element, return None.
If the list is empty, return None.

In [263]:
def majority_vote(l1):
    dict1={}
    for i in l1:
        if i not in dict1:
            dict1[i]=1
        else:
            dict1[i]=dict1[i]+1

    c=0
    for i,j in dict1.items():
        if j> (len(l1)/2):
            c=c+1
            return(i)
            break
    if(c==0):
        return(None)

In [264]:
majority_vote(["A", "B", "B", "A", "C", "C"])

### 7.Rearrange the Number
Given a number, return the difference between the maximum and minimum numbers that can be formed when the digits are rearranged.

Examples
rearranged_difference(972882) ➞ 760833
#988722 - 227889 = 760833

rearranged_difference(3320707) ➞ 7709823
#7733200 - 23377 = 7709823

rearranged_difference(90010) ➞ 90981
#91000 - 19 = 90981

In [3]:
a=972882

minimum=sorted(list(str(a)))
print(minimum)

maximum=sorted(list(str(a)),reverse=True)
print(maximum)

['2', '2', '7', '8', '8', '9']
['9', '8', '8', '7', '2', '2']

In [4]:
difference=int(''.join(maximum))-int(''.join(minimum))
difference

760833

### 8.Flip the Array
Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

Examples
flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
#Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
#Take a vertical list and flip it horizontal.

flip_list([]) ➞ []
Notes
If given an empty list [], return an empty list [].

In [5]:
def flip_list(lst):
    return [x[0] if isinstance(x, list) else [x] for x in lst]

In [6]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

### 9.Count and Identify Data Types
Given a function that accepts unlimited arguments, check and count how many data types are in those arguments. Finally return the total in a list.

List order is:

[int, str, bool, list, tuple, dictionary]
Examples
count_datatypes(1, 45, "Hi", False) ➞ [2, 1, 1, 0, 0, 0]

count_datatypes([10, 20], ("t", "Ok"), 2, 3, 1) ➞ [3, 0, 0, 1, 1, 0]

count_datatypes("Hello", "Bye", True, True, False, {"1": "One", "2": "Two"}, [1, 3], {"Brayan": 18}, 25, 23) ➞ [2, 2, 3, 1, 0, 2]

count_datatypes(4, 21, ("ES", "EN"), ("a", "b"), False, [1, 2, 3], [4, 5, 6]) ➞ [2, 0, 1, 2, 2, 0]
Notes
If no arguments are given, return [0, 0, 0, 0, 0, 0]

In [211]:
a=[4, 21, ("ES", "EN"), ("a", "b"), False, [1, 2, 3], [4, 5, 6]]

In [213]:
def count_datatypes(a):
    c,c1,c2,c3,c4,c5=0,0,0,0,0,0
    for i in a:
        if isinstance(i,bool)==True:
            c2=c2+1
        elif isinstance(i,str)==True:
            c1=c1+1
        elif isinstance(i,int)==True:
            c=c+1
        elif isinstance(i,list)==True:
            c3=c3+1
        elif isinstance(i,tuple)==True:
            c4=c4+1
        elif isinstance(i,dict)==True:
            c5=c5+1

    return([c,c1,c2,c3,c4,c5])

In [214]:
count_datatypes(a)

[2, 0, 1, 2, 2, 0]

10.From A to Z
Given a string indicating a range of letters, return a string which includes all the letters in that range, including the last letter. Note that if the range is given in capital letters, return the string in capitals also!

Examples
gimme_the_letters("a-z") ➞ "abcdefghijklmnopqrstuvwxyz"

gimme_the_letters("h-o") ➞ "hijklmno"

gimme_the_letters("Q-Z") ➞ "QRSTUVWXYZ"

gimme_the_letters("J-J") ➞ J"
Notes
A hyphen will separate the two letters in the string.
You don't need to worry about error handling in this one (i.e. both letters will be the same case and the second letter will always be after the first alphabetically).

In [271]:
a="A-Z"

In [269]:
def gimme_the_letters(a):
    
    l1=[]
    l2=[]
    for i in a.split('-'):
        l1.append(ord(i))
    for j in range(l1[0],l1[-1]+1):
        l2.append(chr(j))

    return("".join(l2))

In [272]:
gimme_the_letters(a)

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

11.Reverse the Odd Length Words
Given a string, reverse all the words which have odd length. The even length words are not changed.

Examples
reverse_odd("Bananas") ➞ "sananaB"

reverse_odd("One two three four") ➞ "enO owt eerht four"

reverse_odd("Make sure uoy only esrever sdrow of ddo length")
➞ "Make sure you only reverse words of odd length"
Notes
There is exactly one space between each word and no punctuation is used.

In [252]:
a="One two three four"

In [254]:
def reverse_odd(a):
    
    l1=[]
    for i in a.split():
        if len(i)% 2 != 0:
            l2=[]
            for j in i:
                l2.insert(0,j)
            l1.extend(l2)
            l1.append(" ")
        else:
            for k in i:
                l1.append(k)
            l1.append(" ")
    return("".join(l1))

In [257]:
reverse_odd(a)

'enO owt eerht four '

12.Capitalize the Last Letter
Create a function that capitalizes the last letter of every word.

Examples
cap_last("hello") ➞ "hellO"

cap_last("My Name Is Edabit") ➞ "MY NamE IS EdabiT"

cap_last("HELp THe LASt LETTERs CAPITALISe") ➞ "HELP THE LAST LETTERS CAPITALISE"
Notes
There won't be any cases of punctuation in the tests.

In [143]:
s1="HELP THE LAST LETTERS CAPITALISE"

In [141]:
def cap_last(s1):
    l1=[]
    for i in s1.split():
        for j in i:
            if j==i[-1]:
                l1.append(j.capitalize())
            else:
                l1.append(j)
        l1.append(" ")
    return("".join(l1))

In [144]:
cap_last(s1)

'HELP THE LAST LETTERS CAPITALISE '

13.Negative Image
Suppose an image can be represented as a 2D list of 0s and 1s. Create a function to reverse an image. Replace the 0s with 1s and vice versa.

Examples
reverse_image([
  [1, 0, 0],
  [0, 1, 0],
  [0, 0, 1]
]) ➞ [
  [0, 1, 1],
  [1, 0, 1],
  [1, 1, 0]
]

reverse_image([
  [1, 1, 1],
  [0, 0, 0]
]) ➞ [
  [0, 0, 0],
  [1, 1, 1]
]

reverse_image([
  [1, 0, 0],
  [1, 0, 0]
]) ➞ [
  [0, 1, 1],
  [0, 1, 1]
]

In [120]:
l1=[
  [1, 1, 1],
  [0, 0, 0]
]

In [121]:
def reverse_image(l1):
    x=[[1 if j == 0 else 0  for j in i]for i in l1]
    return x

In [122]:
reverse_image(l1)

[[0, 0, 0], [1, 1, 1]]

14.Shuffle the Name
Create a function that takes a string (will be a person's first and last name) and returns a string with the first and last name swapped.

Examples
name_shuffle("Donald Trump") ➞ "Trump Donald"

name_shuffle("Rosie O'Donnell") ➞ "O'Donnell Rosie"

name_shuffle("Seymour Butts") ➞ "Butts Seymour"

Notes
There will be exactly one space between the first and last name.
If you get stuck on a challenge, find help in the Resources tab.
If you're really stuck, unlock solutions in the Solutions tab.

In [66]:
def name_shuffle(x):
    l1=[]
    for j in x.split():
        l1.insert(0,j)
    return(" ".join(l1))

In [86]:
name_shuffle("Rosie O'Donnell")

"O'Donnell Rosie"

15.Find the Missing Number
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5

missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10

missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

Notes
The list of numbers will be unsorted (not in order).
Only one number will be missing.

In [82]:
list1=[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [101]:
def missing_num(list1):
    l1=[1,2,3,4,5,6,7,8,9,10]
    for  i in l1:
        if i not in list1:
            return(i)

In [104]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10