# Special Data Types

- In python we have special data types or collection object because common data types like int, float etc. can store only one value where as List or tuple can store multiple value

### Container or Collection Object

Container or collection objects are objects that can hold any number of arbitrary objects

Container provides a way to access the child objects and iterate over them

Container or collection objects:
-Dictionary
-Tuple
-List
-Set

### List

A List is a data structure in python  that is mutable or changable, ordered sequence of elements. Each items or values inside a list is called an item. List is denoted by square brackets[]

- A list is a container object and can store in a sequence of objects.
- Can have duplicates
- Can have heterogeneous sequence of elements
- Mutable
- Elements are separated by comma, enclosed in [ ] parenthesis
- Supports the following:
1.Append new elements
2.Concatenate
3.Access using indexes or values
4.len(), min(), max()
5.in, not in

In [75]:
l1=list(range(0,10))
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
l2= [1,"Hi",True,1+3j,2.5,None] # store different data types element
l2

[1, 'Hi', True, (1+3j), 2.5, None]

In [82]:
type(l2)

list

#### List can be indexed in the same way as strings

In [91]:
print(l2[0])
print(l2[0:3])
print(l2[:2])
print(l2[3:])
print(l2[1:-3])
print(l2*3)
print(l1[-1])

1
[1, 'Hi', True]
[1, 'Hi']
[(1+3j), 2.5, None]
['Hi', True]
[1, 'Hi', True, (1+3j), 2.5, None, 1, 'Hi', True, (1+3j), 2.5, None, 1, 'Hi', True, (1+3j), 2.5, None]
9

#### Nested List

In [129]:
L = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', 'h']
L[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [130]:
l2=[[1,2,3,[5,6,["Hello"]]]] 
l2

[[1, 2, 3, [5, 6, ['Hello']]]]

In [131]:
l2[0][3][2][0] # Accessing Hello element from list

'Hello'

#### List concatenation

In [93]:
# Combine 2 list into 1 list
print(l2 + l1)
l3= [11,"A",45,78]

print(l1+l3+l2)

[1, 'Hi', True, (1+3j), 2.5, None, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 'A', 45, 78, 1, 'Hi', True, (1+3j), 2.5, None]

#### # More on List

In [100]:
mylist=["Bangalore","Delhi","Chennai",2000,3400.5,"Cool"]
print(len(mylist))
print(mylist)

6
['Bangalore', 'Delhi', 'Chennai', 2000, 3400.5, 'Cool']

#### # Removing a item from a list

An object can be removed from alist by using del(),remove(),pop() function

#### del()

In [101]:
# To remove element with respect to index number del() is used
del(mylist[5])
print(mylist)

['Bangalore', 'Delhi', 'Chennai', 2000, 3400.5]

In [102]:
del(mylist[-2:])
mylist

['Bangalore', 'Delhi', 'Chennai']

#### Remove

In [104]:
# Remove is used to delete element if index position is not known, we just know which element to remove
newlist=["Hello",2,3,2,"world",2]
newlist.remove("world")
newlist

['Hello', 2, 3, 2, 2]

In [105]:
newlist=["Hello",2,3,2,"world",2]
newlist.remove(2) # Only first matching entry is removed
newlist

['Hello', 3, 2, 'world', 2]

#### Pop

In [448]:
# Pop remove element based on index position and returns the removed element
l1=[1,2,3,4]
l1.pop(2) # Here argument refers to positional argument
print(l1)

[1, 2, 4]

#### Checking for an existence of element in the list

In [110]:
list1=["Chennai","Goa","Bangalore"]

In [111]:
"Mumbai" in list1

False

In [112]:
"Goa" in list1

True

In [113]:
"Mumbai" not in list1

True

In [114]:
"Goa" not in list1

False

#### Max and Min

In [145]:
list1=[45,62,90,100]
print(max(list1))
print(min(list1))

# Note - the max() or min() functions will not work for strings in the list. 
# It will only consider numerical data.

100
45

#### Change Item Value
To change the value of a specific item, refer to the index number:

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

#### Loop Through a List
You can loop through the list items by using a for loop:

In [19]:
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

#### # Inserting a new value in a list

#### Append

In [142]:
# Append only add one element to the end of a list
l1=[1,2,3,4]
l1.append(5)
l1

[1, 2, 3, 4, 5]

#### Extend

In [143]:
# To append multiple element at the end of the we use extend
l1.extend([6,7,8])
l1

[1, 2, 3, 4, 5, 6, 7, 8]

#### Insert

In [ ]:
# Insert can add a new element into a list at any index position 
# Append and extend only adds element at end of the list

In [144]:
l1=[1,2,3,4]
l1.insert(2,101) # insert 101 in position 2
l1

[1, 2, 101, 3, 4]

#### # Sorting a list

Lists have a sort method which reorders the list based on the values it contains

#### sort

In [148]:
# Ascending order
l2=[23,1,0,45,-1]
l2.sort()
l2

[-1, 0, 1, 23, 45]

In [149]:
# Decending order
l2=[23,1,0,45,-1]
l2.sort(reverse=True)
l2

[45, 23, 1, 0, -1]

#### sorted

In [155]:
# Python also has an independent function sorted which sorts the elements in a list
l2=[23,1,0,45,-1]
print(sorted(l2))
print(sorted(l2,reverse=True))
print(l2)

[-1, 0, 1, 23, 45]
[45, 23, 1, 0, -1]
[23, 1, 0, 45, -1]

In [ ]:
# The difference between sort and sorted function is that sort make changes the original list whereas sorted just displays the sorted list
# If we are using sorted function then we need to assign the sorted list to a variable.

#### Clear

In [158]:
l3=[45,24,65,78,100]
l3

[45, 24, 65, 78, 100]

In [159]:
# Clear remove all the elements and return empty list
l3.clear()
l3

[]

#### Copy

In [163]:
# Copy create a duplicate list
l3=[45,24,65,78,100]
print(l3)
l4=l3.copy()
print(l4)

[45, 24, 65, 78, 100]
[45, 24, 65, 78, 100]

#### Count

In [165]:
# Count is used to find the number of occurence of a particular element in a list
l3=[45,7,24,65,7,100,4,7]
print(l3)
l3.count(7)

[45, 7, 24, 65, 7, 100, 4, 7]

3

#### Index

In [169]:
# index returns the index position a element
l3=[45,7,24,65,7,100,4,7]
l3.index(7) # By default it return first index of value.

1

In [180]:
# To get index of second occurrence of a element we need to give start argument - first occurence index + 1 i.e. 1+1 =2
l3=[45,7,24,65,7,100,4,7]
l3.index(7,2)

4

In [181]:
# To get index of third occurrence
l3=[45,7,24,65,7,100,4,7]
l3.index(7,5)

7

#### Reverse

In [177]:
# Reverse is used to reverse the list
l3=[45,7,24,65,7,100,4,7]
l3.reverse()
l3

[7, 4, 100, 7, 65, 24, 7, 45]