# About Python

- Python is Object Oriented language
- Python is simple and easy to learn compared to other languages(C++,Java etc.)
- Python takes more time to execute the code than C,C++,Java etc.
- It is easy to debug a python program
- It is open source, anyone can contribute to python 
- It emphasizes readability to high extend therefore cost of maintaince for enterprises are less.
- It support number of modules and packages which encourages program modularity
- There are many IDE available for python like spyder,Jupyter,pycharm etc.
- Jupyter is browser based IDE
- A 'kernel' is a program that runs and introspects the user's code.

# Keyboard Shortcuts

# Shift + Enter  - To execute code
# Shift + tab - Snapshot of description
# Tab - Autofill

# Variable Assignment

In [15]:
a=5
type(a)

int

In [16]:
b=1.5
type(b)

float

In [17]:
c=5+3j
type(c)

complex

In [18]:
d="Hello"
type(d)

str

In [19]:
e=False
type(e)

bool

In [20]:
f="50"
type(f)

str

In [21]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

5
1.5
(5+3j)
Hello
False
50

In [22]:
print("He's is doing Python course ")

He's is doing Python course

In [23]:
print(''' He said that, "India is his Country" ''')

 He said that, "India is his Country"

### Comments

- A comment in a computer program is intended only fo the human reader - it is completely ignored by interpreter.
- In  python, the #token starts a comment. The rest of the line is ignored.

In [29]:
# print("Hello World")
print("Hello World")  ### Print Hello

Hello World

### Arithmetic Operator

In [38]:
a=15
b=7

In [39]:
print(a+b) #Addition 
print(a-b) #Substraction
print(a*b) #Multiplication
print(a/b) #Division
print(a//b) #Floor Division
print(a%b) # Modulus
print(a**2) # Exponential

22
8
105
2.142857142857143
2
1
225

### Logical Operator

- Python has logical types
- This type of data is called boolean(True / False)

In [40]:
print(a==b) 
print(a<b) 
print(a<=b)
print(a>b) 
print(a>=b) 
print(a!=b)

False
False
False
True
True
True

### Assignment Operator

In [42]:
x=15
y=7
print(x)
print(y)

x=x+y
print(x)

15
7
22

In [43]:
x=15
y=7
x+=y
print(x)

22

In [44]:
x=15
y=7
x*=y
print(x)

105

#### Input

In [52]:
a=input("Enter your weight ") # By default input stores values as str
type(a)

Enter your weight 50

str

In [48]:
age=float(input("Please Enter your age")) #Type casting

print("Age of the person is",age)

Please Enter your age10
Age of the person is 10.0

#### Multiassignment

In [53]:
a,b,c=1,2,3

out=a+b+c
out

6

In [54]:
a1=a2=a3=5
print(a1)
print(a2)
print(a3)

5
5
5

### Bitwise operator

In [11]:
a = 12
b = 13

print(format(12,"b"))
print(format(13,"b"))

1100
1101

In [17]:
c = '1100'
int(c,2)

12

In [18]:
#Binary And
a & b

12

In [19]:
format(12,"b")

'1100'

In [20]:
#Binary Or
a|b

13

In [21]:
format(13,"b")

'1101'

In [22]:
#Binary XOR
a ^ b

1

In [23]:
a = 12
#Binary Left Shift
a << 2  #It means left shift of 2 of binary number of a = 1100 ,so shift will be 110000
format(48,"b")

'110000'

In [24]:
#Binary Right Shift
a >> 2  #It means right shift of 2 of binary number of a = 1100 ,so shift will be 11
format(3,"b")

'11'

### Membership Operators & Identity Operators

In [10]:
"i" in "vinod"

True

In [9]:
"l" in "vinod"

False

In [8]:
"p" in "vinod"

False

In [7]:
"p" not in "Vinod"

True

In [ ]:
# Identity Operators

In [1]:
"i" is "Vinod"

False

In [2]:
1 is 1

True

In [3]:
2 is 1

False

In [4]:
"vinod" is "Vinod"

False

In [5]:
1 is not 1

False

In [6]:
"hi hello"  is not  "hello hi"

True

### Type casting

In [60]:
# int to float
a=1
print(type(a))
a=float(a)
print(a)
print(type(a))

<class 'int'>
1.0
<class 'float'>

In [59]:
# float to int
a=1.2
print(type(a))
a=int(a)
print(a)
print(type(a))

<class 'float'>
1
<class 'int'>

In [67]:
# int to str
a=12
print(type(a))
a=str(a)
print(a)
print(type(a))

<class 'int'>
12
<class 'str'>

In [ ]:
# str to int
a="hello"
print(type(a))
a=int(a)
print(a)
print(type(a))

# It will throw value error since character can't be converted to number

In [65]:
# str to int
a="5"
print(type(a))
a=int(a)
print(a)
print(type(a))

<class 'str'>
5
<class 'int'>

# Variables

- Variables are names given to data

- There are certain rules and conventions to follow when choosing a name for a variable.

- Variable names can be arbitarily long.

- They can contain both letters and digits, but they have to bigin with a letter or an underscore.

- Although it is allowed, it is not good practice to begin variable names with uppercase letter.

- Do not begin a variable with an underscore as they have a special meaning. So a safe rule for beginners is to start all names with a letter.

- The underscore character can appear in a name. It is often used in names with multiple words like price_of_tea.

- If you give a variable an illeagal name, you get a syntax error.

# Data Structures

#### Variable Vs Identifier

- The identifier is only used to identify an entity uniquely in a program at the time of execution

- A variable is a name given to a memory location, that is used to hold a value. 

- Variable is only a kind of identifier, other kinds of identifiers are function names, class names, structure names, etc.

- Python is dynamically typed i.e. we don't have declare a variable with data type in python

#### Data Structures in Python

1. Number - int, float,complex
2. String (In python they are called as object)
3. Boolean
4. Special data type or Container or Collection object - List, Tuple, Dictionary, Set
5. None

#### Python has the following standard or built-in data types:

#### 1. Numeric

A numeric value is any representation of data which has a numeric value. Python identifies three types of numbers:

-- Integer: Positive or negative whole numbers (without a fractional part)

-- Float: Any real number with a floating point representation in which a fractional component is denoted by a decimal symbol or scientific notation

-- Complex number: A number with a real and imaginary component represented as x+yj. x and y are floats and j is -1(square root of -1 called an imaginary number)

#### 2. Boolean

Data with one of two built-in values True or False. Notice that 'T' and 'F' are capital. true and false are not valid booleans and Python will throw an error for them.

#### 3. Sequence Type

- A sequence is an ordered collection of similar or different data types. Python has the following built-in sequence data types:

- String: A string value is a collection of one or more characters put in single, double or triple quotes.

- List : A list object is an ordered collection of one or more data items, not necessarily of the same type, put in square brackets.

- Tuple: A Tuple object is an ordered collection of one or more data items, not necessarily of the same type, put in parentheses.

#### 4. Dictionary

A dictionary object is an unordered collection of data in a key:value pair form. A collection of such pairs is enclosed in curly brackets. For example: {1:"Steve", 2:"Bill", 3:"Ram", 4: "Farha"}

#### Mutable and Immutable Objects

Data objects of the above types are stored in a computer's memory for processing. Some of these values can be modified during processing, but contents of others can't be altered once they are created in the memory.

-- Number values, strings, and tuple are immutable, which means their contents can't be altered after creation.

-- On the other hand, collection of items in a List or Dictionary object can be modified. It is possible to add, delete, insert, and rearrange items in a list or dictionary. Hence, they are mutable objects.

#### type() function

Python has an in-built function type() to ascertain the data type of a certain value. For example, enter type(1234) in Python shell and it will return <class 'int'>, which means 1234 is an integer value

In [45]:
type(2)

int

In [46]:
type("Hello")

str

In [47]:
type(True)

bool